{% extends "base.html" %}

{% block title %}Chat con IA{% endblock %}

{% block content %}
    <h1 class="content">Chat con IA</h1>
    <form method="POST" class="form">
        <input type="text" name="pregunta" placeholder="Escribe tu pregunta" required class="input">
        <button type="submit" class="button">Enviar</button>
    </form>
    
    {% if respuesta %}
        <h2 class="content">Respuesta del modelo IA:</h2>
        <p>{{ respuesta }}</p>  <!-- Mostrar el resumen generado por la IA -->
    {% endif %}
{% endblock %}
